.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  margin: 0 12px;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.page,
.break {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  width: 40px;
  height: 40px;
  font-size: 12px;
  font-weight: 700;
  background-color: rgba(30, 26, 45, 0.3);
  border-radius: 5px;
  cursor: pointer;

  color: white;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.page:hover,
.page:focus {
  box-shadow: var(--main-shadow);
}

.active {
  background-color: var(--accent-color);
  box-shadow: var(--main-shadow);
  color: white;
}

.break {
  background-color: transparent;
  color: var(--main-color);
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  color: rgba(30, 26, 45, 0.5);
  transform: scale(1);
  cursor: pointer;
}

.arrow:hover,
.arrow:focus {
  /* color: var(--accent-color); */
  transform: scale(1.3);
}
